<div class="card">
  <div class="card-header d-flex justify-content-between mb-0 pb-0">
    <mdb-tabs class="mb-0 pb-0" (activeTabChange)="onAccessLevelTabChange($event)">
      <mdb-tab tabindex="0">
        <ng-template mdbTabTitle><span><i class="fas fa-user-lock me-2"></i>Мои репозитории</span>       
        </ng-template>
      </mdb-tab>
      <mdb-tab tabindex="1">
        <ng-template mdbTabTitle><span><i class="fas fa-globe me-2"></i>Глобальный</span>
        </ng-template>
      </mdb-tab>
    </mdb-tabs>
    <mdb-tabs class="mb-0 pb-0" (activeTabChange)="onFormatTabChange($event)">
      <mdb-tab tabindex="0">
        <ng-template mdbTabTitle><span><i class="fas fa-bars me-2 mb-0"></i>Список</span>
        </ng-template>
      </mdb-tab>
      <mdb-tab tabindex="1">
        <ng-template mdbTabTitle><span><i class="fas fa-table me-2 mb-0"></i>Таблица</span>
        </ng-template>
      </mdb-tab>
      <mdb-tab tabindex="2">
        <ng-template mdbTabTitle><span><i class="fas fa-grip-horizontal me-2 mb-0"></i>Плитка</span></ng-template>
      </mdb-tab>
    </mdb-tabs>
  </div>
  <div class="card-body" style="height: 530px; overflow: overlay;">
    <div *ngIf="activeFormatTab == 0">
      <div *ngFor="let repo of repoList; let i = index" class="card border p-3 mb-3">
        <div class="d-flex justify-content-between">
          <div>
            <div class="d-flex">
              <i class="fas fa-globe pt-1 me-2" *ngIf="repo.isPublic"></i>
              <i class="fas fa-eye-slash pt-1 me-2" *ngIf="!repo.isPublic"></i>
              <h5 class="me-2 card-link text-primary">{{ repo.name }}</h5>
              <h5><span class="badge badge-success rounded-pill d-inline ms-1" *ngFor="let tag of repo.tags">{{ tag }}</span></h5>
            </div>
            <span>Создатель: {{ repo.creator.fullName }}</span>
          </div>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-primary btn-floating me-2" mdbRipple rippleColor="dark" [routerLink]="['/repositories/', repo.id]">
              <i class="fas fa-external-link-alt"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-floating me-2" mdbRipple rippleColor="dark">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-floating me-2" mdbRipple rippleColor="dark">
              <i class="fas fa-info"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-hover align-middle mb-0 bg-white table-sm" *ngIf="activeFormatTab == 1">
      <thead class="bg-light">
        <tr class="table-secondary">
          <th scope="col">№</th>
          <th scope="col">Название</th>
          <th scope="col">Метки</th>
          <th scope="col">Создатель</th>
          <th scope="col">Приватность</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="" *ngFor="let repo of repoList; let i = index">
          <th scope="row">{{ i }}</th>
          <td>{{ repo.name }}</td>
          <td>
              <h5><span class="badge badge-success rounded-pill d-inline" *ngFor="let tag of repo.tags">{{ tag }}</span></h5>
          </td>
          <td>{{ repo.creator.fullName }}</td>
          <td *ngIf="repo.isPublic">
              <i class="fas fa-globe"></i>
          </td>
          <td *ngIf="!repo.isPublic">
              <i class="fas fa-eye-slash"></i>
          </td>
          <td>
              <button type="button" class="btn btn-primary btn-floating me-2" mdbRipple rippleColor="dark" [routerLink]="['/repositories/', repo.id]">
                  <i class="fas fa-external-link-alt"></i>
              </button>
              <button type="button" class="btn btn-secondary btn-floating me-2" mdbRipple rippleColor="dark">
                  <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="btn btn-secondary btn-floating me-2" mdbRipple rippleColor="dark">
                  <i class="fas fa-info"></i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row row-cols-1 row-cols-md-4 g-4" *ngIf="activeFormatTab == 2">
      <div class="col" *ngFor="let repo of repoList; let i = index">
        <div class="card border h-100">
          <div class="card-body">
            <div class="d-flex">
              <i class="fas fa-globe pt-1 me-2" *ngIf="repo.isPublic"></i>
              <i class="fas fa-eye-slash pt-1 me-2" *ngIf="!repo.isPublic"></i>
              <h5 class="card-title">{{ repo.name }}</h5>
            </div>
            <h5><span class="badge badge-success rounded-pill d-inline ms-1" *ngFor="let tag of repo.tags">{{ tag }}</span></h5>
            {{ repo.description }}
          </div>
          <div class="d-flex align-items-center justify-content-center card-footer" style="background-color: rgba(0, 0, 0, 0.05);">
            <button type="button" class="btn btn-primary btn-floating me-2" mdbRipple rippleColor="dark" [routerLink]="['/repositories/', repo.id]">
              <i class="fas fa-external-link-alt"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-floating me-2" mdbRipple rippleColor="dark">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-floating me-2" mdbRipple rippleColor="dark">
              <i class="fas fa-info"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
