<tui-island>
  <tui-island class="d-flex justify-content-between tui-space_bottom-3" size="l" [style.--tui-skeleton-radius]="radius">
    <div>
      <h1 [class.tui-skeleton]="skeletonVisible">{{ authorizedUser.fullName }}</h1>
      <h3 [class.tui-skeleton]="skeletonVisible">Логин: {{ authorizedUser.name }} ID: {{ authorizedUser.id }}</h3>
      <p [class.tui-skeleton]="skeletonVisible">{{ authorizedUser.createdOn.toLocaleString("ru-RU") }}</p>
      <p [class.tui-skeleton]="skeletonVisible">{{ authorizedUser.email }}</p>
    </div>
    <tui-avatar
      [class.tui-skeleton]="skeletonVisible"
      [text]="authorizedUser.fullName"
      size="xxl"
      [rounded]="true"
      [autoColor]="true"
    ></tui-avatar>
  </tui-island>
  
  <tui-island class="p-0">
    <header class="d-flex border-bottom justify-content-between px-4 pb-2">
      <tui-tabs [(activeItemIndex)]="activeFormatTab">
        <button tuiTab class="px-2">
          <tui-svg src="tuiIconListLarge" class="tui-space_right-2"></tui-svg>
          Список
        </button>
        <button tuiTab class="px-2">
          <tui-svg src="tuiIconTableLarge" class="tui-space_right-2"></tui-svg>
          Таблица
        </button>
      </tui-tabs>
    </header>

    <div style="overflow: overlay;" *ngIf="activeFormatTab == 0">
      <tui-accordion class="container-fluid px-0 pb-4" [rounded]="false">
        <tui-accordion-item *ngFor="let repo of userPublicRepoList, let i = index" [showArrow]="false" size="m">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <div class="d-flex align-items-center">
                <tui-marker-icon src="tuiIconGlobe" size="xs" mode="link" *ngIf="repo.isPublic"></tui-marker-icon>
                <tui-marker-icon src="tuiIconEyeOff" size="xs" mode="error" *ngIf="!repo.isPublic"></tui-marker-icon>
                <a class="tui-space_left-2 tui-space_right-1" style="font-size: 20px;" href="#" [routerLink]="['/repositories/', repo.id]">{{ repo.name }}</a>
                <tui-tag *ngFor="let tag of repo.tags" status="custom" [autoColor]="true" size="m" [value]="tag" class="tui-space_left-1"></tui-tag>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <button
                tuiIconButton
                appearance="primary"
                size="m"
                type="button"
                shape="rounded"
                class="tui-space_right-3"
                icon="tuiIconExternalLink"
                [routerLink]="['/repositories/', repo.id]">
              </button>
              <button
                tuiIconButton
                appearance="secondary"
                size="m"
                type="button"
                shape="rounded"
                class="tui-space_right-3"
                icon="tuiIconEdit"
                (click)="passInfo(repo)"
                [routerLink]="['/repositories/', repo.id, 'edit']">
              </button>
              <button
                tuiIconButton
                appearance="secondary-destructive"
                size="m"
                type="button"
                shape="rounded"
                icon="tuiIconTrash2"
                (click)="deleteRepo(repo)"
                >
              </button>
            </div>
          </div>
        </tui-accordion-item>
      </tui-accordion>
    </div>

    <table
      tuiTable
      class="table"
      [columns]="columns"
      *ngIf="activeFormatTab == 1"
      size="s"
    >
      <thead>
        <tr tuiThGroup>
          <th tuiTh *tuiHead="'name'" [resizable]="true" style="font-size: 18px;">Название</th>
          <th tuiTh *tuiHead="'isPublic'" [resizable]="true" style="font-size: 18px;">Статус</th>
          <th tuiTh *tuiHead="'tags'" [resizable]="true" style="font-size: 18px;">Метки</th>
          <th tuiTh *tuiHead="'creator'" [resizable]="true" style="font-size: 18px;">Создатель</th>
          <th tuiTh *tuiHead="'description'" [resizable]="true" style="font-size: 18px;">Описание</th>
          <th tuiTh *tuiHead="'actions'" [resizable]="true" [sorter]="null"></th>
        </tr>
      </thead>
      <tbody
        *tuiLet="userPublicRepoList | tuiTableSort as sortedRepos"
        tuiTbody
        [data]="userPublicRepoList"
      >
        <tr
          *ngFor="let repo of sortedRepos; let index = index"
          tuiTr
        >
          <td *tuiCell="'name'" tuiTd>
            <a
              tuiLink
              [routerLink]="['/repositories/', repo.id]"
              style="font-size: 20px;"
            >
              {{ repo.name }}
            </a>
          </td>
          <td *tuiCell="'isPublic'" tuiTd>
            <tui-marker-icon src="tuiIconGlobe" size="xs" mode="link" *ngIf="repo.isPublic"></tui-marker-icon>
            <tui-marker-icon src="tuiIconEyeOff" size="xs" mode="error" *ngIf="!repo.isPublic"></tui-marker-icon>
          </td>
          <td *tuiCell="'tags'" tuiTd>
            <tui-tag 
              *ngFor="let tag of repo.tags" 
              status="custom" 
              [autoColor]="true" 
              size="m" 
              [value]="tag" 
              class="tui-space_right-1 tui-space_bottom-1"
              style="font-size: 14px;"
            ></tui-tag>
          </td>
          <td *tuiCell="'description'" tuiTd>
            <div style="font-size: 16px;">
              {{ repo.description }}
            </div>
          </td>
          <td *tuiCell="'actions'" tuiTd>
            <div class="d-flex align-items-center gap-2">
              <button
                tuiIconButton
                appearance="primary"
                size="s"
                type="button"
                shape="rounded"
                icon="tuiIconExternalLink"
                [routerLink]="['/repositories/', repo.id]">
              </button>
              <button
                tuiIconButton
                appearance="secondary"
                size="s"
                type="button"
                shape="rounded"
                icon="tuiIconEdit"
                (click)="passInfo(repo)"
                [routerLink]="['/repositories/', repo.id, 'edit']">
              </button>
              <button
                tuiIconButton
                appearance="secondary-destructive"
                size="s"
                type="button"
                shape="rounded"
                icon="tuiIconTrash2"
                (click)="deleteRepo(repo)">
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </tui-island>
</tui-island>
