<tui-root>
  <div class="container-fluid flex-column">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-2 border-bottom shadow-4">
      <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <button
          tuiIconButton
          appearance="primary"
          size="m"
          type="button"
          shape="rounded"
          class="tui-space_left-1 tui-space_right-3"
          icon="tuiIconMenu"
          (click)="onClick($event)">
        </button>

        <form class="b-form" [formGroup]="searchForm" style="width: 100%;">
          <tui-input 
            formControlName="searchValue"
            tuiTextfieldSize="m"
            [tuiTextfieldCleaner]="true"
            [tuiTextfieldLabelOutside]="true"
            tuiTextfieldIconLeft="tuiIconSearch">
            Поиск
            <input
              tuiTextfield
              type="text"
              placeholder="Поиск"
              tuiTextfieldIcon="tuiIconMenu"/>
          </tui-input>
        </form>
      </div>

      <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none justify-content-end">
        <div class="col-md-3 text-end" *ngIf="authorizedUser == null">
          <button
            tuiButton
            size="m"
            type="button"
            class="tui-space_right-2 tui-space_bottom"
            (click)="onAuthClick(content, header, 'm')"
          >
            Войти
          </button>

          <ng-template #header>
            <div class="px-4 pt-2" style="width: 100%; background-color: white;">
              <tui-tabs [(activeItemIndex)]="activeTab" (activeItemIndexChange)="onActiveTabChange()">
                <button tuiTab class="px-2">
                  <b>Авторизация</b>
                </button>
                <button tuiTab class="px-2">
                  <b>Регистрация</b>
                </button>
              </tui-tabs>
            </div>
          </ng-template>

          <ng-template #content let-observer>
            <form [formGroup]="authForm" (ngSubmit)="authorize()" *ngIf="activeTab == 0">
              <div class="tui-row tui-row_sme">
                <div class="tui-col_12">
                  <div class="tui-form__row">
                    <tui-input tuiTextfield [tuiTextfieldCleaner]="true" tuiAutoFocus formControlName="loginValue">
                      Логин
                    </tui-input>
                  </div>
                  <div class="tui-form__row">
                    <tui-input-password tuiTextfield formControlName="passwordValue">
                      Пароль
                    </tui-input-password>
                  </div>
                  <div class="tui-form__buttons tui-form__buttons_align_center">
                    <button
                      tuiButton
                      size="l"
                      type="submit"
                      class="tui-form__button"
                    >
                      Войти
                    </button>
                    <button
                      tuiButton
                      type="button"
                      appearance="flat"
                      size="l"
                      class="tui-form__button"
                      (click)="closeDialog()"
                    >
                      Отмена
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <form [formGroup]="regForm" (ngSubmit)="register()" *ngIf="activeTab == 1">
              <div class="tui-row tui-row_sme">
                <div class="tui-col_12">
                  <div class="tui-form__row">
                    <tui-input tuiTextfield [tuiTextfieldCleaner]="true" formControlName="usernameValue">
                      Логин
                    </tui-input>
                  </div>
                  <div class="tui-form__row">
                    <tui-input tuiTextfield [tuiTextfieldCleaner]="true" formControlName="fullNameValue">
                      Имя пользователя
                    </tui-input>
                  </div>
                  <div class="tui-form__row">
                    <tui-input tuiTextfield [tuiTextfieldCleaner]="true" formControlName="emailValue">
                      Email
                    </tui-input>
                  </div>
                  <div class="tui-form__row">
                    <tui-input-password tuiTextfield formControlName="passwordValue">
                      Пароль
                    </tui-input-password>
                  </div>
                  <div class="tui-form__buttons tui-form__buttons_align_center">
                    <button
                      tuiButton
                      size="l"
                      type="submit"
                      class="tui-form__button"
                    >
                      Отправить
                    </button>
                    <button
                      tuiButton
                      type="button"
                      appearance="flat"
                      size="l"
                      class="tui-form__button"
                      (click)="closeDialog()"
                    >
                      Отмена
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </div>
        <div class="tui-space_right-2" *ngIf="authorizedUser != null">
          <a tuiLink routerLink="/profile/me" style="font-size: 16px;" class="d-flex align-items-center justify-content-end">
            <tui-avatar
              text="Andrew White"
              size="s"
              class="tui-space_right-2 tui-space_left-1"
              [rounded]="true"
              [autoColor]="true"
            ></tui-avatar>
            {{ authorizedUser.fullName }}
          </a>
        </div>
      </div>
    </header>

    <div class="d-flex">
      <aside class="d-flex flex-column flex-shrink-0 border-end shadow-4" [ngClass]="sidebarOpened ? 'opened' : 'closed'">
        <tui-accordion class="container-fluid" [rounded]="false" [closeOthers]="false">
          <tui-accordion-item routerLink="/home" [showArrow]="false"> 
            Главная
          </tui-accordion-item>
          <tui-accordion-item>
            Репозитории
            <ng-template tuiAccordionItemContent>
              <div #content class="pb-2 mb-2 border-bottom">
                <a routerLink="/repositories" class="">Открыть список</a>
              </div>
              <ul class="tui-list tui-list_linear ps-0">
                <li class="tui-list__item d-flex justify-content-between">
                  <a routerLink="/repositories/1">Repo 1</a>
                  <button
                    tuiIconButton
                    appearance="flat"
                    size="xs"
                    icon="tuiIconClose"
                    shape="rounded"
                    title="Remove"
                    class="remove"
                  ></button>
                </li>
                <li class="tui-list__item d-flex justify-content-between">
                  <a routerLink="/repositories/2">Repo 2</a>
                  <button
                    tuiIconButton
                    appearance="flat"
                    size="xs"
                    icon="tuiIconClose"
                    shape="rounded"
                    title="Remove"
                    class="remove"
                  ></button>
                </li>
                <li class="tui-list__item d-flex justify-content-between">
                  <a routerLink="/repositories/3">Repo 3</a>
                  <button
                    tuiIconButton
                    appearance="flat"
                    size="xs"
                    icon="tuiIconClose"
                    shape="rounded"
                    title="Remove"
                    class="remove"
                  ></button>
                </li>
              </ul>    
            </ng-template>
          </tui-accordion-item>
          <tui-accordion-item>
            Отрывки
            <ng-template tuiAccordionItemContent>
              <div #content class="pb-2 mb-2 border-bottom">
                <a routerLink="/repositories" class="">Открыть список</a>
              </div>
              <ul class="tui-list tui-list_linear ps-0">
                <li class="tui-list__item d-flex justify-content-between">
                  <a routerLink="/snippets/1">Snippet 1</a>
                  <button
                    tuiIconButton
                    appearance="flat"
                    size="xs"
                    icon="tuiIconClose"
                    shape="rounded"
                    title="Remove"
                    class="remove"
                  ></button>
                </li>
                <li class="tui-list__item d-flex justify-content-between">
                  <a routerLink="/snippets/2">Snippet 2</a>
                  <button
                    tuiIconButton
                    appearance="flat"
                    size="xs"
                    icon="tuiIconClose"
                    shape="rounded"
                    title="Remove"
                    class="remove"
                  ></button>
                </li>
                <li class="tui-list__item d-flex justify-content-between">
                  <a routerLink="/snippets/3">Snippet 3</a>
                  <button
                    tuiIconButton
                    appearance="flat"
                    size="xs"
                    icon="tuiIconClose"
                    shape="rounded"
                    title="Remove"
                    class="remove"
                  ></button>
                </li>
              </ul>    
            </ng-template>
          </tui-accordion-item>
        </tui-accordion>
      </aside>   
      <main class="container-fluid">
        <div class="p-3 rounded border-1">
          <router-outlet></router-outlet>
        </div> 
      </main>
    </div>
  </div>
</tui-root>