
    <!-- <div class="modal-body">
        <mdb-form-control class="mb-4">
            <input mdbInput mdbValidate type="text" id="form1" class="form-control" formControlName="login" required/>
            <label mdbLabel class="form-label" for="form1">Логин</label>
            <mdb-success *ngIf="login?.valid && (login?.dirty || login?.touched)">
                Looks good!
            </mdb-success>
            <mdb-error *ngIf="login?.invalid && (login?.dirty || login?.touched)">
                Login is required!
            </mdb-error>
        </mdb-form-control>
        <mdb-form-control class="mb-4" *ngIf="formType == 1">
            <input mdbInput mdbValidate type="email" id="form2" class="form-control" formControlName="email"/>
            <label mdbLabel class="form-label" for="form2">Email</label>
            <mdb-success *ngIf="email?.valid && (email?.dirty || email?.touched)">
                Looks good!
            </mdb-success>
            <mdb-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                Email is required!
            </mdb-error>
        </mdb-form-control>
        <mdb-form-control class="mb-3">
            <input mdbInput mdbValidate type="password" id="form3" class="form-control" formControlName="password" required/>
            <label mdbLabel class="form-label" for="form3">Пароль</label>
            <mdb-success *ngIf="password?.valid && (password?.dirty || password?.touched)">
                Looks good!
            </mdb-success>
            <mdb-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                Password is required!
            </mdb-error>
        </mdb-form-control>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
            Закрыть
        </button>
        <button type="button" class="btn btn-primary" (click)="mainButtonOnClick()">
            {{ mainButtonText }}
        </button>
    </div>
</form> -->