<tui-island size="l" textAlign="center" class="p-5">
  <h1 class="title fw-bold">Добро пожаловать!</h1>
  <p class="lead my-4">Сервис хранения и версионирования файлов для "1С:Предприятия"<br>Используйте ссылки внизу для перехода к соответствующему разделу</p>    
  <div class="tui-row justify-content-center py-4">       
    <div class="tui-col_md-4">
      <tui-island size="m" textAlign="center" class="p-4">
        <div class="tui-island__content">
          <h3 class="tui-island__title">Репозитории</h3>
          <p class="tui-island__paragraph mb-3">Создавайте и загружайте файлы в репозитории, чтобы иметь возможность скачать любую загруженную ранее версию</p>
          <button
            tuiButton
            type="button"
            size="m"
            appearance="primary"
            routerLink="/repositories"
          >
          Перейти
          </button>
        </div>
      </tui-island>
    </div>
    <div class="tui-col_md-4">
      <tui-island size="m" textAlign="center" class="p-4">
        <div class="tui-island__content">
          <h3 class="tui-island__title">Отрывки</h3>
          <p class="tui-island__paragraph mb-3">Загружайте и обменивайтесь частями программного кода с возможностью сравнения различий между разными версиями</p>
          <button
            tuiButton
            type="button"
            size="m"
            appearance="primary"
            routerLink="/snippets"
          >
          Перейти
          </button>
        </div>
      </tui-island>          
    </div>
  </div>
</tui-island>