<div class="d-flex flex-column text-center card py-5 border">
  <div class="card-body">
    <h1 class="display-5 fw-bold">Добро пожаловать!</h1>
    <div class="col-lg-8 mx-auto my-4">
      <p class="lead mb-4">Сервис хранения и версионирования файлов для "1С:Предприятия"<br>Используйте ссылки внизу для перехода к соответствующему разделу</p>    
      <div class="row">
        <div class="col-sm-6">
          <div class="card border border-primary">
            <div class="card-body">
              <h4 class="card-title">Репозитории</h4>
              <p class="card-text">Создавайте и загружайте файлы в репозитории, чтобы иметь возможность скачать любую загруженную ранее версию</p>
              <a routerLink="/repositories" class="btn btn-primary">Перейти</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border border-primary">
            <div class="card-body">
              <h4 class="card-title">Отрывки</h4>
              <p class="card-text">Загружайте и обменивайтесь частями программного кода с возможностью сравнения различий между разными версиями</p>
              <a routerLink="/snippets" class="btn btn-primary">Перейти</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>